{
  "branches": ["main"],
  "tagFormat": "v${version}",
  "plugins": [
    ["@semantic-release/commit-analyzer", {"preset": "angular"}],
    ["@semantic-release/release-notes-generator", {"preset": "angular"}],
    ["@semantic-release/exec", {
      "prepareCmd": "git config user.email 'semantic-release-bot@stuttgart-things.com' && git config user.name 'semantic-release-bot' && sed -i 's|newTag: .*|newTag: v${nextRelease.version}|' config/manager/kustomization.yaml"
    }],
    ["@semantic-release/git", {
      "assets": ["config/manager/kustomization.yaml"],
      "message": "chore(release): ${nextRelease.version} [skip ci]"
    }],
    ["@semantic-release/github", {}]
  ]
}
